@font-face{
    font-family: "GothamPro-Bold";
    src: url("../fonts/GothamPro/GothamPro-Bold.ttf");
}
@font-face{
    font-family: "GothamPro-Medium";
    src: url("../fonts/GothamPro/GothamPro-Medium.ttf");
}
@font-face{
    font-family: "GothamPro";
    src: url("../fonts/GothamPro/GothamPro.ttf");
}
@font-face{
    font-family: "GothamPro-Light";
    src: url("../fonts/GothamPro/GothamPro-Light.ttf");
}

*{
    box-sizing: border-box;
    outline: none;
    font-family: "GothamPro-Light";
}

body{
    margin: 0;
}
p{
    color: #000;
    line-height: 24px;
}
.hidden{
    display: none !important;
}
.content-background{
    background: url('../img/background.png') 50%/cover no-repeat;
    padding: 1px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999999;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #999999;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #999999;
}
:-moz-placeholder { /* Firefox 18- */
    color: #999999;
}

/* Form */
.form-fields{
    margin-bottom: 20px;
}
.form-field{
    background-color: #fff;
    border: 1px solid #eee;
    padding: 15px 18px;
    color: #333;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 18px;
}
.form-field[disabled]{
    opacity: .8;
}

.form-field.--full{
    width: 100%;
}
/* Jquery form styler */
.jq-selectbox:after{
    content: '';
    display: block;
    position: absolute;
    top: 18px;
    right: 18px;
    background: url('../img/icon-arrow.png') no-repeat;
    width: 20px;
    height: 20px;
    background-size: 18px;
}
.jq-selectbox__dropdown{
    width: 100%;
    left: 0;
    background-color: #fff;
}
.jq-selectbox__dropdown ul{
    padding: 0 18px;
}
.jq-select-multiple li, .jq-selectbox li{
    padding: 6px 0;
}
.jq-checkbox__div{
    width: 24px;
    height: 24px;
    border: 1px solid #c7c6c6;
    position: relative;
    margin-right: 6px;
}
.checked .jq-checkbox__div:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ed006a;
    width: 10px;
    height: 10px;
    margin: 6px;
}
.label-input{
    display: flex;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
}

.btn{
    border-radius: 50px;
    text-align: center;
    border: 1px solid transparent;
    display: block;
    padding: 18px;
    font-size: 18px;
    font-family: "GothamPro-Medium";
    margin: auto;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid transparent;
    text-decoration: none;
}
.btn-red{
    background-color: #ed006a;
    border-color: #ed006a;
    color: #fff;
}
.btn-grey{
    background-color: #8c8c8c;
    border-color: #8c8c8c;
    color: #fff;
}
.btn-full{
    width: 100%;
}


.questionnaire-step-1, .questionnaire-step-2, .questionnaire-step-3{
    width: 100%;
}

/* Start screen */
.questionnaire-step-1{
    margin: auto;
    border: 6px solid #fff;
}

/* Stock */
.stock-slider-screen{
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    position: relative;
}
.stock-slider{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.stock-item{
    height: 275px;
    margin-bottom: 30px;
    padding: 0 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
}
.stock-item-inner{
    height: inherit;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
    position: relative;
}
.stock-item-inner.active:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .2);
    background-image: url('../img/check-active.png');
    background-repeat: no-repeat;
    background-position: center;
}
.stock-item__caption{
    font-family: "GothamPro-Medium";
    font-size: 18px;
}
.stock-item__value{
    font-family: "GothamPro-Bold";
    font-size: 56px;
    color: #ed006a
}
.stock-item__date{
    display: inline-block;
    background-color: #f9ce1d;
    padding: 6px 15px;
    font-family: "GothamPro-Bold";
    font-size: 18px;
    color: #333;
}
.stock-item--news .stock-item-inner{
    justify-content: center;
    border: 3px solid #ed006a;
}
.stock-item--news .stock-item__caption{
    width: 150px;
}
.interesting-news-icon{
    height: 62px;
    margin-bottom: 22px;
    opacity: .5;
}

/* Swiper slider*/
.swiper-container {
    width: 100%;
}
.swiper-button-prev, .swiper-button-next{
    border-radius: 50%;
    background-color: #fff;
    width: 64px;
    height: 64px;
    background-image: url('../img/icon-arrow-red.png');
    background-size: 10px;
    box-shadow: 0px 0px 7px 0px #5e5e5e;
}
.swiper-button-prev{
    transform: rotate(180deg);
}
.questionnaire-step-2 .swiper-slide{
    padding: 0 2px;
}

/* Fancybox */
.fancybox-content{
    width: 90%;
}
.fancybox-title{
    text-align: center;
    font-size: 32px;
    font-family: "GothamPro";
    margin-top: 0;
    color: #333;
}
.fancybox-content .btn{
    width: 270px;
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 30px;
}
.fancybox-wrapper-text{
    height: 356px;
    overflow: auto;
}

.fancybox-wrapper-text::-webkit-scrollbar {
    width: 3px;
}
 
.fancybox-wrapper-text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #eee;
}
 
.fancybox-wrapper-text::-webkit-scrollbar-thumb {
  background-color: #ed006a;
  outline: 1px solid transparent;
}

/* Buttons */
.btns-wrapper{
    display: flex;
}
.btns-wrapper .btn:first-child{
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns-wrapper .btn:last-child{
    margin-right: 0;
    padding-left: 8px;
    padding-right: 8px;
    color: #fff;
    border-color: #fff;
    font-family: "GothamPro-Light";
    letter-spacing: 0;
}
.icon-send{
    margin-right: 15px;
}

/* Popup form */
.form-row .label-input{
    width: calc(100% / 3);
}
.label-input.--last-checkbox{
    width: auto;
}
.form-row .form-field{
    margin-left: 10px;
    margin-bottom: 0;
}
.form-row select.form-field{
    padding: 15px 18px;
}
.jq-selectbox{
    padding: 0;
}
.form-row .jq-selectbox{
    width: 49%;
    margin: 0;
}
.jq-selectbox__select{
    padding: 15px 18px;
    height: inherit;
}
.form-row .jq-selectbox:last-child{
    margin-left: 2%;
}
.form-row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
.form-sub-caption{
    display: block;
    font-size: 18px;
    font-family: "GothamPro-Medium";
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.fancybox-content .form-row .btn{
    width: 49%;
}
.fancybox-content .form-row .btn:last-child{
    margin-left: 2%;
}

.questionnaire-step-3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.questionnaire-step-3 .btn{
    width: 300px;
    margin-top: 20px;
}
.block-thanks-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block-thanks__title{
    text-align: center;
    color: #fff;
    line-height: 44px;
    font-weight: normal;
    font-family: "GothamPro-Light";
    font-size: 32px;
}
.block-thanks__svg{
    fill: #fff;
    width: 80px;
    margin-bottom: 20px;
}

@media(min-width: 1024px){
    .questionnaire-step-1{
        width: 770px;
        padding: 138px 154px;
    }
    .stock-slider-screen{
        width: 930px;
    }
    .stock-slider{
        margin-left: -15px;
        margin-right: -15px;
    }
    .stock-item{
        width: calc(100% / 3);
    }
    .btns-wrapper .btn:first-child{
        width: calc(100% - 100% / 3 - 10px);
    }
    .btns-wrapper .btn:last-child{
        width: calc(100% / 3 - 20px);
    }
    .swiper-container {
        height: 614px;
    }
    .swiper-button-prev, .swiper-button-next{
        top: 43%;
    }
    .swiper-button-prev{
        left: -30px;
    }
    .swiper-button-next{
        right: -30px;
    }
}
@media(max-width: 1023px){
    .questionnaire-step-1{
        width: 690px;
        padding: 130px 94px;
    }
    .stock-slider-screen{
        width: 690px;
    }
    .stock-slider{
        margin-left: 0px;
        margin-right: 0px;
    }
    .stock-item{
        width: 50%;
    }
    .btns-wrapper .btn:first-child{
        font-size: 16px;
        letter-spacing: 0;
        width: calc(100% - 270px - 10px);
    }
    .btns-wrapper .btn:last-child{
        font-size: 16px;
        width: 270px;
    }
    .swiper-button-prev, .swiper-button-next{
        top: 45%;
    }
    .swiper-button-prev{
        left: -5px;
    }
    .swiper-button-next{
        right: -5px;
    }
    .form-row .label-input{
        width: 50%;
    }
    .swiper-container{
        height: 840px;
    }
    .stock-item{
        height: 250px;
    }
}